{%extends 'movie_app/base.html'%}


{%block title%}
    Информация о фильме {{movie.name}}
{%endblock%}

{%block content%}
<div>
  <div id="about-movie-block">
<h2>Информация о фильме</h2>
    <h3>{{movie.name}}</h3>
    <p><b>Рейтинг фильма: </b> {{movie.rating}} | <b>Год фильма:</b> {{movie.year | default:'Неизвестен'}} | <b>Бюджет фильма:</b>
            {{movie.budget}}</p>
  {% if movie.director %}
  <p><b>Режиссёр фильма:</b> <a href="{{movie.director.get_absolute_url}}">{{movie.director}}</a></p>
    {% else %}
  {% endif %}
    {% if actors %}
</div>
  <div id="about-actors-block">
  <p><b>В фильме снимаются:</b>
  {% for act in actors %}
    <ul>
      <li>
        <h5><a href="{{ act.get_absolute_url }}">{{act}}</a></h5>
      </li>
    </ul>
  {% endfor %}
    </div>
  {% else %}
  {% endif %}
</div>
{%endblock%}