{%extends 'movie_app/base.html'%}
{% load static %}


{%block title%}
    База данных фильмов
{%endblock%}
{% block css %}
    <link rel="stylesheet" href="{% static 'movie_app/css/index.css' %}">
{%endblock%}
{%block content%}
<h2>Вот такие фильмы в базе</h2>
<ul>
    {% for movie in movies %}
    <li>
        <h3>{{movie.name}}</h3>
        <p><b>Рейтинг фильма: </b> {{movie.rating}} | <b>Год фильма:</b> {{movie.year | default:'Неизвестен'}} | <b>Бюджет фильма:</b>
            {{movie.budget}}</p>
    </li>
    {% endfor %}
</ul>
{%endblock%}
