@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap');



body {
    background-color: #333;
    color:whitesmoke;
    font-family: 'Roboto', sans-serif;
    /* margin: 2rem; */
    letter-spacing: 0.2rem;
    word-spacing: 0.5rem;
    }

div {
    margin: 2rem;
}

li {
    list-style-type: square;
    margin-bottom: 2rem;
}

h3 {
    font-size: 1.5rem;
    margin-bottom: 0px;
    word-spacing: 5px;
    letter-spacing: 2px;
}

p {
    margin-top: 0.3rem;
    word-spacing: 5px;
    letter-spacing: 10%;
}

a {
    text-decoration: none;
    color: whitesmoke;
}

a:hover {
    color: gold;
}
.main {
    margin: 0px;
    padding: 0px;
}